@import "../src/app/globals.css";
@source "../src";
@source ".";

@font-face {
  font-family: "Geist";
  src: url("./fonts/geist-sans.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/geist-mono.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}


:root {
  --font-geist-sans: "Geist";
  --font-geist-mono: "Geist Mono";
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  margin: 0;
}
